/* Global style */
* {
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
}

/* Body style */
.main-content {
    min-height: 100vh;
}

/* Navbar style */
.navbar-brand,
.nav-link,
.dropdown-item {
    color: white !important;
}

.dropdown-menu {
    background-color: #010203 !important;
    border: 1px solid rgb(39, 39, 39) !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #333 !important;
    color:white !important;
}

/* Login and register styles */
.left-col-login,
.right-col-login {
    height: 100vh;
    width: 100%;
}

.left-col-login {
    background-color: black !important;
}

.title {
    text-align: center;
    color: white;
    padding-top: 13vh;
}

.tagline {
    text-align: center;
    color: rgb(171, 169, 169);
    padding-top: 1vh;
}

.inspired {
    text-align: center;
    color: rgb(80, 80, 80);
    font-size: medium;
    padding-top: 1vh;
}

.login-label {
    color: white;
}

.login-label, 
.register-label {
    color: white;
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.error {
    color: red !important;
}

.form-control {
    background-color: #0d1117 !important;
    color: white !important;
}

.form-control:focus {
    background-color: #0d1117 !important;
    color: white !important;
}

.form-control::placeholder {
    color: gray !important;
}

.login-button,
.register-button {
    color: blue !important;
}

.login-button:hover,
.login-button:focus,
.register-button:hover,
.register-button:focus {
    color: white !important;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.register-text,
.login-text {
    display: block !important;
    color: white !important;
    text-decoration: none !important;
    text-align: center !important;
}

.register-text:focus,
.register-text:hover,
.login-text:focus,
.login-text:hover {
    text-decoration: underline !important;
}

/* Account page styles */
.left-col-account,
.right-col-account {
    width: 100%;
}

.row {
    min-height: 100vh;
}

.pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.pfp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
}

.account-username {
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 2px;
}

.change-label-container {
    text-align: center;
}

.change-label {
    font-size: medium;
    color: rgb(185, 183, 183);
    text-decoration: none;
}

.change-label:focus,
.change-label:hover {
    text-decoration: underline;
}

.change-username-label,
.change-password-label {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 26vh;
    padding-bottom: 10px;
}

.change-button {
    color: blue !important;
}

.change-button:hover,
.change-button:focus {
    color: white !important;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    height: 100vh;
    padding-top: 10vh;
    min-width: 15vw;
    max-width: 15vw;
    position: sticky !important;
    top: 0 !important;
    overflow-y: auto !important;
}

.sidebar-item:focus,
.sidebar-item:hover {
    background-color: #333 !important;
    color:white !important;
}

/* Lessons and exercise styles */
.lesson-text,
.exercise-text {
    padding-left: 2vw;
    color: white;
}

.lesson-title {
    padding-top: 10vh;
    padding-bottom: 5vh;
    color: white;
}

.exercise-title {
    padding-top: 10vh;
    padding-bottom: 2vh;
    color: white;
}


.lesson-header,
.exercise-header {
    padding-bottom: 0.5vh;
}

.lesson-info {
    padding-left: 4vw;
    padding-right: 8vw;
    padding-bottom: 4vh;
    text-align: justify;
}

.lesson-bullet {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-size: 0.9rem;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 8vw;
    padding-bottom: 5vh !important;
}

.col-exercise {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
}

.left-col-exercise {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto !important;
}

.right-col-exercise {
    min-height: 100vh;
    max-height: 100vh;
}

.exercise-code {
    margin-bottom: 0 !important;
}

.exercise-header {
    padding-left: 0.5vw !important;
    padding-top: 2.5vh !important
}

.exercise-info {
    padding-left: 2vw;
    padding-right: 3vw;
    padding-bottom: 4vh;
    text-align: justify;
}

.exercise-bullet {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 0.9rem;
}

.exercise-top {
    display: flex;
    justify-content: space-between;
}

.exercise-completion {
    margin-top: 2vh;
    margin-right: 2vw;
}

.output-text {
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 2vh !important;
    margin-bottom: 0.5vh !important;
}

.output-container {
    display: flex;
    justify-content: space-between;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 2vh !important;
    margin-bottom: 0.5vh !important;
}

.output {
    padding-top: 0 !important;
    margin-top: 0 !important;
    max-height: 20vh;
    overflow-y: auto !important;
}

/* Code editor styles */
.cm-editor {
    height: 60vh;
    margin-top: 2.5vh;
}

.cm-scroller {
    overflow: auto;
}

.cm-content {
    padding: 10px;
}
