{% extends 'layoutLoginRequired.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}

    <!-- Account page coluns-->
    <div class="container-fluid">
    <div class="row">
    
        <!-- Profile -->
        <div class="col col-md-4 left-col-account border-end">

            <!-- Profile picture -->
            <div class='pfp-container'>
                <img class='pfp' src="{{ url_for('static', filename='assets/profile-picture.webp') }}" alt='Profile Picture'>
            </div>

            <!-- Username -->
            <h4 class='account-username'>
                {{ username }}
            </h4>

             <!-- Change username/password -->
            <h5 class='change-label-container' style='color: rgb(185, 183, 183);'>
                <a class='change-label' href='/account/change-username'>
                    Change Username
                </a>
                |
                <a class='change-label' href='/account/change-password'>
                    Change Password
                </a>
            </h5>

        </div>


        <!-- Change password -->
        <div class="col col-md-8 right-col-account">

            <h2 class='change-password-label'>Change Password <span class='error'>{{ error }}</span> </h2>

            <form action='/account/change-password' method='POST'>

                <div class="mb-3">
                    <input autocomplete='off' type='password' class="form-control" placeholder='Enter Password' name='password' required>
                </div>

                <div class="mb-3">
                    <input autocomplete='off' type='password' class="form-control" placeholder='Enter New Password' name='newPassword' required>
                </div>

                <div class="mb-3">
                    <input autocomplete='off' type='password' class="form-control" placeholder='Confirm New Password' name='confirmNewPassword' required>
                </div>
                
                <div class='mb-3'>
                    <button type="submit" class="change-button btn btn-outline-primary form-control">
                        Change Password
                    </button>
                </div>

            </form>

            <p style='text-align: center; color: gray'>(Changing password will log you out)</p>

        </div>

{% endblock %}
