{% extends 'layoutLoginRequired.html' %}

{% block title %}
    Waldo
{% endblock %}

{% block body %}

    <div class='exercise-top'>
        <h1 class='exercise-text exercise-title'>
            Exercise 3.1: Where's Waldo
        </h1>

        <h4 class='exercise-text exercise-title exercise-completion'
        {% if exercises_completed >= 5 %}
            style='color: green'
        {% else %}
            style='color: gray'
        {% endif %}
        >
            {% if exercises_completed >= 5 %}
                Complete!
            {% else %}
               In progress!
            {% endif %}
        </h4>
    </div>


    <div class="container-fluid col-exercise">
    <div class="row">
    
        <div class="col col-md-4 left-col-exercise border-top border-end border-bottom border-start">

        <h2 class='exercise-text exercise-header'>
            Overview
        </h2>

        <ul class='exercise-text exercise-info'>
            
            <li class='exercise-bullet'>
                So apparently, Waldo's gone missing again!
            </li>

            <li class='exercise-bullet'>
                Witnesses say they saw him hiding inside of Python arrays!
            </li>

            <li class='exercise-bullet'>
                In this exercise, you will implement a program that looks at lists
                and dictionaries, and ultimately tell the user: "Where's Waldo?"
            </li>

        </ul>

        <h2 class='exercise-text exercise-header'>
            Instructions
        </h2>

        <ul class='exercise-text exercise-info'>

            <li class='exercise-bullet'>
                In Python, create a program that searches for Waldo.
            </li>

            <li class='exercise-bullet'>
                The program will take one input, people, which is
                a list of dictionaries.
            </li>

            <li class='exercise-bullet'>
                Inside each dictionary is a name, a city, and a disguise.
            </li>

            <li class='exercise-bullet'>
                You must print find Waldo's information and print it out
                as a list!
            </li>

        </ul>

        <h2 class='exercise-text exercise-header'>
            Test Cases
        </h2>

        <ul class='exercise-text exercise-info'>

            <li class='exercise-bullet'>
                You must print Waldo's name, city, and disguise
                on the terminal line as a list.
            </li>

            <li class='exercise-bullet'>
                The outputs are case-sensitive.
            </li>

            <li class='exercise-bullet'>
                Your may assume that there will be no duplicate names,
                and therefore, only one Waldo.
            </li>

        </ul>

        </div>

        <div class="col col-md-8 right-col-exercise border-top border-bottom border-end">
            <form action='/exercises/3/waldo' method='POST'>
            <div>
                <textarea class='code-editor' name='code'>{% if request.method == 'POST' %}
{{ code }}
{% else %}
# example dictionary: {'name': 'Waldo', 'city': 'Burger Land', 'disguise'}
# Remember, you can loop through lists and dictionaries 

# Do not edit the next line:
def waldo(people):
    
  # Write your code here:
{% endif %}  </textarea>
            </div>

            <div class='output-container'>
                <p class='exercise-text output-text'
                {% if request.method == 'POST' %}
                    {% if correct == True %}
                    style='color: green'
                    {% else %}
                    style='color: red'
                    {% endif %}
                {% endif %}
                >
                    Output:
                </p>

                <div class='output-button-group'>
                    <button type="submit" class="btn btn-outline-secondary" name='action' value='reset'>Reset</button>
                    <button type="submit" class="btn btn-outline-secondary" name='action' value=''>Run</button>
                </div>
            </div>
        </form>

                <pre class='output'><code>
{% if request.method == 'POST' %}{{ output }}
{% endif %}
</code></pre>


            </form>
        </div>
    </div>
    </div>

    <hr style='color: white; padding-bottom: 2vh; margin-top: 4vh; margin-left: 2vw; margin-right: 2vw;'>

    <div class='nav-buttons'>
        <a href='/exercises/2/secretary'>
            <button type="button" class="btn btn-outline-primary nav-butt">< Back</button>
        </a>

        <a
            {% if lessons_completed >= 3 and exercises_completed >= 5 %}
                href="/exercises/3/register"
            {% endif %}
            class="btn btn-outline-primary nav-butt {% if lessons_completed < 3 or exercises_completed < 5 %}disabled{% endif %}"
        >
            Next >
        </a>

    </div>

{% endblock %}