{% extends 'layoutLoginRequired.html' %}

{% block title %}
    FizzBuzz
{% endblock %}

{% block body %}

    <div class='exercise-top'>
        <h1 class='exercise-text exercise-title'>
            Exercise 2.1: FizzBuzz
        </h1>

        <h4 class='exercise-text exercise-title exercise-completion'
        {% if exercises_completed >= 3 %}
            style='color: green'
        {% else %}
            style='color: gray'
        {% endif %}
        >
            {% if exercises_completed >= 3 %}
                Complete!
            {% else %}
               In progress!
            {% endif %}
        </h4>
    </div>


    <div class="container-fluid col-exercise">
    <div class="row">
    
        <div class="col col-md-4 left-col-exercise border-top border-end border-bottom border-start">

        <h2 class='exercise-text exercise-header'>
            Overview
        </h2>

        <ul class='exercise-text exercise-info'>
            
            <li class='exercise-bullet'>
                FizzBuzz is a classic programming exercise aimed to teach operators,
                conditionals, and loops!
            </li>

            <li class='exercise-bullet'>
                When learning any language, you can try solving FizzBuzz again to test
                if you got the fundamentals figured out!
            </li>

            <li class='exercise-bullet'>
                In this exercise, you will write a FizzBuzz program in Python.
            </li>

        </ul>

        <h2 class='exercise-text exercise-header'>
            Instructions
        </h2>

        <ul class='exercise-text exercise-info'>

            <li class='exercise-bullet'>
                The FizzBuzz function only has one argument: n.
            </li>

            <li class='exercise-bullet'>
                Your task is to print a specific output for each number
                from 1-100. 
            </li>

            <li class='exercise-bullet'>
                If the number is divisible by 3 and 5, print 'FizzBuzz'.
            </li>

            <li class='exercise-bullet'>
                If the number is divisible by 3, print 'Fizz'.
            </li>

            <li class='exercise-bullet'>
                If the number is divisible by 5, print 'Buzx'.
            </li>

            <li class='exercise-bullet'>
                Otherwise, print the number.
            </li>

        </ul>

        <h2 class='exercise-text exercise-header'>
            Test Cases
        </h2>

        <ul class='exercise-text exercise-info'>

            <li class='exercise-bullet'>
                n will always be an integer valued 100.
            </li>

            <li class='exercise-bullet'>
                It is fine to not use the variable n for your solution.
                However, your code must be inside the fizzbuzz() function
            </li>

            <li class='exercise-bullet'>
                If your printed output is a string, it must follow the correct capitalization.
            </li>

        </ul>

        </div>

        <div class="col col-md-8 right-col-exercise border-top border-bottom border-end">
            <form action='/exercises/2/fizzbuzz' method='POST'>
            <div>
                <textarea class='code-editor' name='code'>{% if request.method == 'POST' %}
{{ code }}
{% else %}
# 3 or 5: 'FizzBuzz'
# 3: 'Fizz'
# 5: 'Buzz'
# Neither: n

# Do not edit the next line:
def fizzbuzz(n):
    
  # Write your code here:
{% endif %}  </textarea>
            </div>

            <div class='output-container'>
                <p class='exercise-text output-text'
                {% if request.method == 'POST' %}
                    {% if correct == True %}
                    style='color: green'
                    {% else %}
                    style='color: red'
                    {% endif %}
                {% endif %}
                >
                    Output:
                </p>

                <div class='output-button-group'>
                    <button type="submit" class="btn btn-outline-secondary" name='action' value='reset'>Reset</button>
                    <button type="submit" class="btn btn-outline-secondary" name='action' value=''>Run</button>
                </div>
            </div>
        </form>

                <pre class='output'><code>
{% if request.method == 'POST' %}{{ output }}
{% endif %}
</code></pre>


            </form>
        </div>
    </div>
    </div>

    <hr style='color: white; padding-bottom: 2vh; margin-top: 4vh; margin-left: 2vw; margin-right: 2vw;'>

    <div class='nav-buttons'>
        <a href='/exercises/1/profiling'>
            <button type="button" class="btn btn-outline-primary nav-butt">< Back</button>
        </a>

        <a
            {% if lessons_completed >= 3 and exercises_completed >= 3 %}
                href="/exercises/2/secretary"
            {% endif %}
            class="btn btn-outline-primary nav-butt {% if lessons_completed < 3 or exercises_completed < 3 %}disabled{% endif %}"
        >
            Next >
        </a>

    </div>

{% endblock %}