{% extends 'layoutLoginRequired.html' %}

{% block title %}
    Register
{% endblock %}

{% block body %}

    <div class='exercise-top'>
        <h1 class='exercise-text exercise-title'>
            Exercise 3.2: Register
        </h1>

        <h4 class='exercise-text exercise-title exercise-completion'
        {% if exercises_completed >= 6 %}
            style='color: green'
        {% else %}
            style='color: gray'
        {% endif %}
        >
            {% if exercises_completed >= 6 %}
                Complete!
            {% else %}
               In progress!
            {% endif %}
        </h4>
    </div>


    <div class="container-fluid col-exercise">
    <div class="row">
    
        <div class="col col-md-4 left-col-exercise border-top border-end border-bottom border-start">

        <h2 class='exercise-text exercise-header'>
            Overview
        </h2>

        <ul class='exercise-text exercise-info'>
            
            <li class='exercise-bullet'>
                You and I have registered and logged into websites before.
                Heck, you're using your own account in Syntax right now!
            </li>

            <li class='exercise-bullet'>
                Lots of software with account features disallow duplicate
                usernames, along with other limitations.
            </li>

            <li class='exercise-bullet'>
                In this exercise, you will implement a program that takes a
                username as input and looks at its validity.
            </li>

        </ul>

        <h2 class='exercise-text exercise-header'>
            Instructions
        </h2>

        <ul class='exercise-text exercise-info'>

            <li class='exercise-bullet'>
                In Python, create a program that checks if a username is valid.
            </li>

            <li class='exercise-bullet'>
                The program will take two inputs: username (string) and
                users (list).
            </li>

            <li class='exercise-bullet'>
                The following rules should be checked in order:
            </li>

            <li class='exercise-bullet'>
                Usernames are case sensitive. If a username is non-unique, print
                'Invalid: Username already exists'
            </li>            

            <li class='exercise-bullet'>
                A username cannot have spaces. If a username has spaces, print
                'Invalid: Username cannot have spaces'
            </li>

            <li class='exercise-bullet'>
                A username must be a minimum of one (1) character and a maximum
                of fifteen (15) characters long. If a username does not fit this
                criteria, print 'Invalid: Username must be 1-15 characters long'
            </li>

            <li class='exercise-bullet'>
                If a username is valid, print 'Valid'
            </li>

        </ul>

        <h2 class='exercise-text exercise-header'>
            Test Cases
        </h2>

        <ul class='exercise-text exercise-info'>

            <li class='exercise-bullet'>
                You must print the validity of a username
                to the terminal line.
            </li>

            <li class='exercise-bullet'>
                Your printed output must follow the given syntax.
            </li>

            <li class='exercise-bullet'>
                You may not assume that a username is not empty.
            </li>

        </ul>

        </div>

        <div class="col col-md-8 right-col-exercise border-top border-bottom border-end">
            <form action='/exercises/3/register' method='POST'>
            <div>
                <textarea class='code-editor' name='code'>{% if request.method == 'POST' %}
{{ code }}
{% else %}
# non-unique: 'Invalid: Username already exists'
# has spaces: 'Invalid: Username cannot have spaces'
# outside of length: 'Invalid: Username must be 1-15 characters long'
# valid: 'Valid'

# Do not edit the next line:
def register(username, users):
    
  # Write your code here:
{% endif %}  </textarea>
            </div>

            <div class='output-container'>
                <p class='exercise-text output-text'
                {% if request.method == 'POST' %}
                    {% if correct == True %}
                    style='color: green'
                    {% else %}
                    style='color: red'
                    {% endif %}
                {% endif %}
                >
                    Output:
                </p>

                <div class='output-button-group'>
                    <button type="submit" class="btn btn-outline-secondary" name='action' value='reset'>Reset</button>
                    <button type="submit" class="btn btn-outline-secondary" name='action' value=''>Run</button>
                </div>
            </div>
        </form>

                <pre class='output'><code>
{% if request.method == 'POST' %}{{ output }}
{% endif %}
</code></pre>


            </form>
        </div>
    </div>
    </div>

    <hr style='color: white; padding-bottom: 2vh; margin-top: 4vh; margin-left: 2vw; margin-right: 2vw;'>

    <div class='nav-buttons'>
        <a href='/exercises/3/waldo'>
            <button type="button" class="btn btn-outline-primary nav-butt">< Back</button>
        </a>

    </div>

{% endblock %}