{% extends 'layoutLoginRequired.html' %}

{% block title %}
    Profiling
{% endblock %}

{% block body %}

    <div class='exercise-top'>
        <h1 class='exercise-text exercise-title'>
            Exercise 1.2: Profiling
        </h1>

        <h4 class='exercise-text exercise-title exercise-completion'
        {% if exercises_completed >= 2 %}
            style='color: green'
        {% else %}
            style='color: gray'
        {% endif %}
        >
            {% if exercises_completed >= 2 %}
                Complete!
            {% else %}
               In progress!
            {% endif %}
        </h4>
    </div>


    <div class="container-fluid col-exercise">
    <div class="row">
    
        <div class="col col-md-4 left-col-exercise border-top border-end border-bottom border-start">

        <h2 class='exercise-text exercise-header'>
            Overview
        </h2>

        <ul class='exercise-text exercise-info'>
            
            <li class='exercise-bullet'>
                You have an identity. People you know have identities. Everyone has identities.
            </li>

            <li class='exercise-bullet'>
                In the modern world, governments store citizens' informations in databases run by programs.
                Be it names, ages, or anything that is used to identify someone.
            </li>

            <li class='exercise-bullet'>
                In this exercise, you will implement a program that displays a person's information.
            </li>

        </ul>

        <h2 class='exercise-text exercise-header'>
            Instructions
        </h2>

        <ul class='exercise-text exercise-info'>

            <li class='exercise-bullet'>
                In Python, create a program that displays a person's information.
            </li>

            <li class='exercise-bullet'>
                The program will take three inputs: name, age, and sex.
            </li>

            <li class='exercise-bullet'>
                In this scenario, a person is identified by the following syntax: [NAME] [AGE][SEX]
            </li>

            <li class='exercise-bullet'>
                Your program must print() the person's information to the command line!
            </li>
        </ul>

        <h2 class='exercise-text exercise-header'>
            Test Cases
        </h2>

        <ul class='exercise-text exercise-info'>

            <li class='exercise-bullet'>
                You may assume that all names and sexes are strings.
            </li>

            <li class='exercise-bullet'>
                You may assume that all ages are integers.
            </li>

            <li class='exercise-bullet'>
                Your printed output must strictly follow the output syntax.
            </li>

        </ul>

        </div>

        <div class="col col-md-8 right-col-exercise border-top border-bottom border-end">
            <form action='/exercises/1/profiling' method='POST'>
            <div>
                <textarea class='code-editor' name='code'>{% if request.method == 'POST' %}
{{ code }}
{% else %}
# Remember the output's syntax!
# [NAME] [AGE][SEX]
# Dave 18M

# You can use the plus operator to 'concatenate' strings!
# 'Dave ' + '18M' = Dave 18M

# Do not edit the next line:
def profiling(name, age, sex):
    
  # Write your code here! (Indentation is important!)
{% endif %}  </textarea>
            </div>

            <div class='output-container'>
                <p class='exercise-text output-text'
                {% if request.method == 'POST' %}
                    {% if correct == True %}
                    style='color: green'
                    {% else %}
                    style='color: red'
                    {% endif %}
                {% endif %}
                >
                    Output:
                </p>

                <div class='output-button-group'>
                    <button type="submit" class="btn btn-outline-secondary" name='action' value='reset'>Reset</button>
                    <button type="submit" class="btn btn-outline-secondary" name='action' value=''>Run</button>
                </div>
            </div>
        </form>

                <pre class='output'><code>
{% if request.method == 'POST' %}{{ output }}
{% endif %}
</code></pre>


            </form>
        </div>
    </div>
    </div>

    <ul>

        <hr style='color: white; padding-bottom: 2vh'>

    </ul>

    <div class='nav-buttons'>
        <a href='/exercises/1/change'>
            <button type="button" class="btn btn-outline-primary nav-butt">< Back</button>
        </a>

        <a
            {% if lessons_completed >= 2 and exercises_completed >= 2 %}
                href="/exercises/2/greed"
            {% endif %}
            class="btn btn-outline-primary nav-butt {% if lessons_completed < 2 or exercises_completed < 2 %}disabled{% endif %}"
        >
            Next >
        </a>

    </div>

{% endblock %}