{% extends 'layoutLoginRequired.html' %}

{% block title %}
    Exercises
{% endblock %}

{% block body %}

    <h1 class='lesson-text lesson-title'>
        Exercises
    </h1>

    <h2 class='lesson-text lesson-header'>
        Why do the exercises?
    </h2>

    <ul class='lesson-text lesson-info'>
        
        <li class='lesson-bullet'>
            The best way to learn programming is by actually writing code.
        </li>
        
        <li class='lesson-bullet'>
            With practice, you enhance not only your understanding of the programming language
            that you are using, but also your ability to think and solve problems.
        </li>

        <li class='lesson-bullet'>
            Coming up with elegant solutions to problems is the essence of programming as a whole,
            and is a valuable skill for anyone to learn.
        </li>

    </ul>

    <h2 class='lesson-text lesson-header'>
        What are the exercises in Syntax?
    </h2>

    <ul class='lesson-text lesson-info'>
        
        <li class='lesson-bullet'>
            The exercises in Syntax are designed to reinforce the concepts discussed
            throughout each lesson.
        </li>
        
        <li class='lesson-bullet'>
            As you progress, the exercises gradually become more challenging. introducing you to new
            problem-solving techniques while allowing your brain to come up with more elegant solutions.
        </li>

        <li class='lesson-bullet'>
            They will introduce you to new problem-solving techniques while encouraging
            you to come up with more elegant solutions.
        </li>

        <li class='lesson-bullet'>
            Exercises are unlocked progressively as you complete lessons and previous exercises. You can come
            back to past exercises but are not allowed to skip lessons or other exercises.
        </li>

        <li class='lesson-bullet'>
            This decision was made to prevent information overload, which may make one feel scared to continue
            studying, or advancing too quickly, missing important concepts or techniques.
        </li>

        <li class='lesson-bullet'>
            Syntax believes that students who genuinely want to learn will naturally take the time to 
            understand and experiment with the exercises rather than simply completing them for the sake of completion.
        </li>

    </ul>

    <h2 class='lesson-text lesson-header'>
        Words of Encouragement
    </h2>

    <ul class='lesson-text lesson-info'>
        
        <li class='lesson-bullet'>
            Take your time and think through each problem carefully. Don't be afraid to revisit earlier lessons
            or exercises!
        </li>
        
        <li class='lesson-bullet'>
            Don't worry if you get stuck. Programming and problem solving take practice, experimentation,
            and patience. It is completely normal to make mistakes. Even experienced programmers do!
        </li>

        <li class='lesson-bullet'>
            With that out of the way, good luck and happy coding!
        </li>

        <hr style='color: white; padding-bottom: 2vh'>

    </ul>

    <div class='nav-buttons'>
        <a href='/'>
            <button type="button" class="btn btn-outline-primary nav-butt">< Home</button>
        </a>

        <a href='/exercises/1/change'>
            <button type="button" class="btn btn-outline-primary nav-butt">Next > </button>
        </a>
    </div>

{% endblock %}