{% extends 'layoutLoginRequired.html' %}

{% block title %}
    Lessons
{% endblock %}

{% block body %}

    <h1 class='lesson-text lesson-title'>
        Introduction to Programming and Python
    </h1>

    <h2 class='lesson-text lesson-header'>
        What is programming?
    </h2>

    <ul class='lesson-text lesson-info'>
        
        <li class='lesson-bullet'>
            Most of us have taken computers for granted. But behind these seemingly magical boxes are complex processes built from ones and zeros.
        </li>
        
        <li class='lesson-bullet'>
            One such process is programming. Essentially, programming is the process of
            <a href='https://cs50.harvard.edu/x/notes/0/'>
                taking some input and producing some output.
            </a> 
        </li>

        <li class='lesson-bullet'>
            Computer programming is the process of writing instructions that tell 
            a computer what to do with some input to produce some output.
        </li>

        <li class='lesson-bullet'>
            Today, writing instructions, or so-called programs, uses programming languages so humans
            can interact with computers and ultimately solve problems.
        </li>

        <li class='lesson-bullet'>
            One such language is Python.
        </li>

    </ul>

    <h2 class='lesson-text lesson-header'>
        What is Python?
    </h2>

    <ul class='lesson-text lesson-info'>
        
        <li class='lesson-bullet'>
            Python is a popular programming language, known for its beginner-friendly syntax and readability.
        </li>
        
        <li class='lesson-bullet'>
            Syntax is simply a set of rules that dictate how a programming language is written.
            Think of it like the grammar and punctuation rules of a language in the real world.
        </li>

        <li class='lesson-bullet'>
            Python syntax is similar to the English language. Its syntax also allows developers to
            write programs with fewer lines of code than other languages.
        </li>

    </ul>

    <h2 class='lesson-text lesson-header'>
        Learning Python with Syntax
    </h2>

    <ul class='lesson-text lesson-info'>
        
        <li class='lesson-bullet'>
            Syntax is a site aimed to teach the fundamentals of programming with Python.
        </li>
        
        <li class='lesson-bullet'>
            It assumes that you have zero prior experience with computer science or programming.
        </li>

        <li class='lesson-bullet'>
            Take your time to read and understand the contents of each lesson. Then, take your
            newfound knowledge out for a spin on the corresponding exercises, or even outside of Syntax!
        </li>

        <li class='lesson-bullet'>
            With that out of the way, good luck on your programming journey!
        </li>

        <hr style='color: white; padding-bottom: 2vh'>

    </ul>

    <div class='nav-buttons'>
        <a href='/'>
            <button type="button" class="btn btn-outline-primary nav-butt">< Home</button>
        </a>

        <a href='/lessons/1'>
            <button type="button" class="btn btn-outline-primary nav-butt">Next > </button>
        </a>
    </div>

{% endblock %}