{% extends 'layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block loginLabel %}
    <p class='login-label'>Log in <span class='error'>{{ error }}</span> </p>
{% endblock %}

{% block loginForm %}

    <!-- Form from https://getbootstrap.com/docs/5.3/forms/overview/ -->
    <form action='/login' method='POST'>
        
        <div class="mb-3">
            <input autocomplete='off' type='text' class="form-control" placeholder="Username" name='username' required>
        </div>

        <div class="mb-3">
            <input autocomplete='off' type='password' class="form-control" placeholder='Password' name='password' required>
        </div>
        
        <div class='mb-3'>
            <button type="submit" class="login-button btn btn-outline-primary form-control">
                Login
            </button>
        </div>

    </form>

    <p>
        <a class='register-text' href='/register'>Don't have an account?</a>
    </p>
{% endblock %}